html {
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
}

body {
  background-color: #ffffff;
  color: #555555;
}

article {
  width: 50rem;
  margin: 0 auto;
}

section {
  padding: 0.5rem 2rem;
}

.intro,
.conclusion {
  background-color: #d2d6ef;
}

h1,
h2 {
  color: #23226c;
  font-weight: 900;
}

h1 {
  font-size: 240%;
  text-align: center;
}

h2 {
  font-size: 180%;
}

a {
  color: #6290c3;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #174579;
}

strong {
  color: rgb(23, 23, 23);
}

p {
  line-height: 150%;
  text-align: justify;
}
